[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pathmodelfit"]
	path = pathmodelfit
	url = https://github.com/cran/pathmodelfit
	shallow = true
	registered = true
